* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.header {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 2/3;
    gap: 3em;
}

input {
    border:  none;
    background-color: rgb(216, 204, 228);
    padding: 10px;
    width: 40em;
    border-radius: 20px;
}

#btn1,
#btn2,
#btn3 {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: pink;
    color: white;
    font-weight: 900;
    font-size: 1em;
    width: 100px;
}

.sidebar {
    display: grid;
    grid-row: 1/3;
}

.logo {
    background-color: rgb(159, 221, 221);
}

.main-content {
    background-color: rgb(182, 157, 206);
}