/* * {
  margin: 0;
  padding: 0;
} */

body {
    margin: auto 0;
    padding-left: 200px;
    padding-right: 200px;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr ;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: lightpink;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr) ;
}

.sidebar {
  background-color: lightblue;
  grid-row: 1/4;
}

.article {
  background-color: #f5f5f5;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  align-items: center;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: white;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.article .card {
  height: 250px;
  border-radius: 20px;
}

.announcements {
  background-color: #f5f5f5;
  grid-column: 3/4 ;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.announcements div {
  border: 1px solid black;
  height: 500px;
  margin: 5px;
  margin-bottom: 2em;
  border-radius: 20px;
}

